:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: #213547;
}


/* CUSTOM STYLES */
/* EXTRA::Given extra time I would have used the package 'styled-components' to style my react components
  I find it much nicer to work with compared to a .jsx file and separate css file/module
  Especially as it organises logical groupings of JS and CSS into a single area.
*/


#root {
  display:flex; 
  justify-content: center;
  align-items: center;
}
.screen {
  display:flex; 
  gap: 4rem;
  padding: 1rem;
  width: 80%;
}

.locations-container {
  display: flex;
  flex-direction: column;
  width:50%;
  gap:1rem
}

.create-location-container {
  width:50%;
  height: 100%;
  border: 1px solid blue;
  padding: 1rem;
  border-radius: 2rem;


}
form {
  display:flex;
  flex-direction: column;
  gap:1rem
}

.date-picker-container {
  display: flex;
  gap:1rem;
}

.date-and-label {
  display: flex;
  flex-direction: column;
  width: 100%;
  font-size: small;
}

/* EXTRA::This would be better suited to Grid */
.location {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  border-radius: 2rem;
  border: 1px solid orange;
  height: 10rem;
}

.closed {
  color: red;
}

.open {
  color: green;
}

.location > div.location-dates {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.location-date-and-label {
  display: flex;
  gap: 1rem;

}

/* EXTRA::With extra time I would've used styled components and media queries for more thoughtful responsiveness */
/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
 .screen {
  display:flex;
  flex-direction: column;
 }
}